#m-univer-sheet {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#sheet {
  flex: 1;
}

footer .univer-sheet-container{
  padding: 0;
}
.univer-render-canvas{
  position: sticky !important;
  max-height: 650px !important;
}